@import "tailwindcss";
.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: oklch(27.9% 0.041 260.031);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: oklch(60.6% 0.25 292.717);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: oklch(70.2% 0.183 293.541);
}
